.logo-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    width: 100%;
    text-align: center;
}

.container--split {
    display: grid;
    grid: 1fr 4em / 1fr 1fr;
    gap: 1em;
    align-items: center;
    justify-items: center;

    padding: 1em;

    .container__input-area {
        width: 70%;
    }

    .container__submit-button {
        grid-column-start: 1;
        grid-column-end: -1;
    }

    .meme {
        max-width: 100%;
        max-height: 50vh;
    }
}