<div class="welcome-screen">
    <img src="./assets/pauwl-logo-full.png" alt="Complete pauwl logo" />
    <p-button styleClass="buuton kalam-regular" [routerLink]="['setup', 'player']">Create Game</p-button>
</div>
<div class="game-list">
    @for (room of rooms(); track room) {
    <div class="card">
        <h5>{{room.name}}</h5>
        <p><i class="pi pi-user"></i> {{room.players?.length ?? 0}}/10</p>
        <p-button styleClass="kalam-regular" class="kalam-regular" [routerLink]="['setup', 'player']" [queryParams]="{room: room.id}"
            [outlined]="true">Join</p-button>
    </div>
    }
</div>